/* RESETANDO O CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
}

.extra{
    display: none;
    visibility: hidden;
}

/* HEADER */
header{
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 50px;
    position: absolute;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.logo img{
    height: 70px;
    margin-right: 20px;
}

.main-nav {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .87rem;
    flex-grow: 1;
}

.main-nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 0.87rem;
    transition: color 0.3s;
}

.main-nav a:hover, .main-nav a.active{
    color: #a0a0a0;
}

.secondary-nav{
    display: flex;
    color: #fff;
    font-size: .87rem;
    align-items: center;
}

.secondary-nav a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.secondary-nav .profile-link{
    font-size: 0.87rem;
}

.secondary-nav .profile-img{
    display: flex;
    align-items: center;
}

.secondary-nav .profile-img img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    object-fit: cover;
    vertical-align: middle;
    margin-left: 5px; 
}

.secondary-nav a i.fa-sort-down {
    margin-left: 5px;
    font-size: 0.7rem;
}

.secondary-nav .fa-search {
    font-size: 1rem;
}



/* BANNER PRINCIPAL */

.hero-banner {
    background: url('../imgs/poster.png') center center / cover;
    height: 90vh;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Gradiente */
        background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(20, 20, 20, 0.2) 80%,
        rgba(20, 20, 20, 1) 100%);
    }
}

.hero-content{
    position: absolute;
    bottom: 150px;
    left: 50px;
    z-index: 10;
    padding-bottom: 50px;
    max-width: 40%;
}

.hero-title{
    font-size: 4vw;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0 ,0, 0.8);
}

.hero-description{
    font-size: 1.2vw;
    margin-bottom: 30px;
}

.hero-buttons .btn{
    padding: 10px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s;
}

.btn-play{
    background-color: #fff;
    color: #000;
}

.btn-play:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-list{
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
}

.btn-list:hover{
    background-color: rgba(109, 109, 110, 0.5);
}

.hero-buttons .btn i{
    margin-right: 8px;
}



/* FILEIRAS DE FILMES */
.movie-rows{
    padding: 0 50px;
    margin-top: -100px;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
}

.row h2{
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.card-list::-webkit-scrollbar{
    display: none;
}
.card-list{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card{
    flex-shrink: 0;
    width: 230px;
    height: 140px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.05);
    z-index: 5;
}

/* FOOTER */
.footer{
    margin: 100px auto 0;
    width: 80%;
    color: #808080;
}

.footer .social{
    padding-bottom: 20px;
    font-size: 26px;
}

.social i{
    margin-right: 20px;
}

.flex{
    display: flex;
    padding-bottom: 80px;
}

.footer .info{
    width: 25%;
}

.footer .info ul{
    list-style: none;
    font-size: 12px;
}

.footer .info ul li{
    margin-top: 8px;
}



/* RESPONSIVIDADE */
@media (max-width: 950px){
    .hero-content h1{
        font-size: 4rem;
    }

    .hero-content p{
        font-size: 1rem;
    }

    .hero-buttons .btn{
        margin-bottom: 10px;
    }

    .sumir{
        display: none;
    }

    .extra{
        display: flex;
        visibility: visible;
    }

    .extra:hover{
        cursor: pointer;
        color: rgb(210, 0, 0);
    }

    .main-nav a{
        margin-right: 3px;
    }
}

@media (max-width: 730px){
    .hero-content h1{
        font-size: 3rem;
    }

}
